@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lato&display=swap");

:root {
  --primary-color: #8fc0a9;
  --secondary-color: #c8d5b9;
  --lightest-color: #faf3dd;
  --dark-text-color: #faf3dd;
  --dark-background-color: black;
}

header {
  background: var(--primary-color);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.5rem;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

h1 {
  grid-column: 2;
  color: var(--lightest-color);
  font-family: "Lato";
  font-size: 3rem;
  text-shadow: -1px 1px 0 #000;
}

nav {
  width: 100%;
  background-color: var(--lightest-color);
}

.navigation {
  display: flex;
  flex-flow: column;
  text-align: left justify;
  gap: 1rem;
  list-style-type: none;
}

.navigation a:link {
  font-family: "Lato";
  font-size: 1.5rem;
  color: var(--primary-color);
  text-shadow: -1px 1px 0 #000;
}

#menu::before {
  content: "≡";
  font-size: 3rem;
  padding: 0.5rem;
  color: black;
}

#menu.open::before {
  font-family: "Lato", Helvetica, sans-serif;
  content: "X";
}

.navigation li {
  display: none;
}

nav ul li a {
  font-family: "Lato", Helvetica, sans-serif;
  color: var(--primary-color);
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.open li {
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  justify-self: end;
  margin-right: 1rem;
  width: 60px;
  height: 34px;
  grid-column: 3;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: grey;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

main {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
  padding: 2rem;
}

footer {
  background: var(--primary-color);
  padding: 2rem;
  text-align: left justify;
  grid-column: 1 / 4;
  font-family: "Lato", Helvetica, sans-serif;
}

.dark {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);
}
