@media screen and (min-width: 1000px) {
  #menu {
    display: none;
  }
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
}
